/* Estilo global */
.root {
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-padding: 10;
}

/* Estilo para los botones */
.button {
    -fx-background-color: linear-gradient(#6fb3e0, #6fb3e0);
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
}

.button:hover {
    -fx-background-color: linear-gradient(#528fbb, #528fbb);
}

/* Estilo para los campos de texto */
.text-field {
    -fx-background-radius: 5;
    -fx-border-color: #6fb3e0;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

/* Estilo para el área de texto */
.text-area {
    -fx-background-radius: 5;
    -fx-border-color: #6fb3e0;
    -fx-border-radius: 5;
    -fx-padding: 10;
}

/* Estilo para el contenedor principal */
.vbox {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 20;
}
